html {
 background-color: #f5b5e0;
}

@font-face {
  font-family: LEMONMILK-Regular;
  src: url("LEMONMILK-Regular.otf");
}

body {
font-family: LEMONMILK-Regular;
font-size: 50px;
text-align: center;
}

.homenav a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.homenav a:hover {
  background-color: gray;
}

img {
  width: 300px;
  height: 300px;
}

img:hover {
  transform: scale(1.2);
  box-shadow: 10px 10px 20px black;
}

details {
  position: relative;
}

summary {
  list-style: none;
  cursor: pointer;
}


.popover {
  position: absolute;
  background-color: #f5b5e0;
  padding: 20px;
  width: 250px;
  box-shadow: 0 5px 15px gray;
  border-radius: 10px;
}


ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

@media (min-width: 60em) {
  ul {
  grid-template-columns: 1fr 1fr 1fr;
  }
}