html {
 background-color: #f5b5e0;
}

@font-face {
  font-family: LEMONMILK-Regular;
  src: url("LEMONMILK-Regular.otf");
}

body {
font-family: LEMONMILK-Regular;
font-size: 50px;

}

.homenav a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.homenav a:hover {
  background-color: gray;
}

img {
  height: 200px;
  width: 200px;
}

.parent {
   display:grid;
   grid-template-columns:1fr 1fr 1fr;
   gap:1em;
   margin: auto;
   text-align: center;
}
    
.div4 {
    grid-row-start: 2;
}

.div5 {
    grid-row-start: 2;
}

.div6 {
    grid-row-start: 2;
}

.div7 {
    grid-row-start: 3;
}

.div8 {
    grid-row-start: 3;
}

.div9 {
    grid-row-start: 3;
}

@media (max-width: 500px) {

  .parent {
    grid-template-columns: 1fr 1fr;
  }
}