html {
 background-color: #f5b5e0;
}

@font-face {
  font-family: LEMONMILK-Regular;
  src: url("LEMONMILK-Regular.otf");
}

body {
font-family: LEMONMILK-Regular;
font-size: 50px;
text-align: center;
}

.homenav a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.homenav a:hover {
  background-color: gray;
}

img {
  width: 250px;
  height: 250px;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

@media (min-width: 60em) {
  ul {
  grid-template-columns: 1fr 1fr 1fr;
  }
}