/* MARK: fonts */
@font-face {
  font-family: 'Seraphs';
  src: url('assets/style/SeraphsVF.woff2') format('woff2'), /* Modern Browsers */
}
/* MARK: items */
body{
  font-family: 'Seraphs';
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1 {
  font-size: 20px;
  writing-mode: sideways-rl;
  color: black;
  font-variation-settings: "wght" 100, "SRFS" 60;
      font-variation-settings: "wght" 100, "SRFS" 0;
      transition:1.5s;

  &:hover {
    font-variation-settings: "wght" 100, "SRFS" 60;
  }
}

h2 {
  font-size: 20px;
  color: black;
  transform: translatex(12rem);
  
    font-variation-settings: "wght" 100, "SRFS" 0;
      transition:1.5s;

  &:hover {
    font-variation-settings: "wght" 200, "SRFS" 60;
  }
}

	h3 span {
    font-size: 20px;
    letter-spacing: 10px;

		transition-duration:.15s;
		transition-delay: calc( sibling-index() * .1s);
		transition-timing-function:ease-in-out;
		transition-property: font-variation-settings;

    font-variation-settings: "wght" 100, "SRFS" 15;
  }

  	h3:hover span {
		font-variation-settings: "wght" 200, "SRFS" 15;
	}

.boog {
  transform: translatey(10rem) rotate(-30deg);
}

h4 {
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  transform: translatey(15rem);
  color: black;
  font-variation-settings: "wght" 100, "SRFS" 30;
    transition:1s;

  &:hover {
    font-variation-settings: "wght" 200, "SRFS" 0;
  }
}

h5 {
  font-size: 15px;
  writing-mode: sideways-rl;
  transform: translatex(-8rem);
  color: black;

  font-variation-settings: "wght" 200, "SRFS" 0;
      transition:1.5s;

  &:hover {
    font-variation-settings: "wght" 100, "SRFS" 60;
  }
}


h6 {
  font-size: 15px;
  grid-column: 3;
  grid-row: 2;
  justify-self: end;
  transform: translatex(5rem);
  writing-mode: sideways-lr;
  color: black;
  font-variation-settings: "wght" 200, "SRFS" 0;
      transition:1.5s;

  &:hover {
    font-variation-settings: "wght" 100, "SRFS" 60;
  }
}


p {
  font-size: 35px;
  color: black;
  transform: translatex(8rem)
  font-variation-settings: "wght" 200, "SRFS" 0;
        transition: 3s;

  &:hover {
    font-variation-settings: "wght" 200, "SRFS" 60;
  }
}