html {
  background-color: #f5b5e0;
}

@font-face {
  font-family: Rounded;
  src: url(Rounded\ Elegance\ Regular.otf);
}

@font-face {
  font-family: Bubblegum;
  src: url(Bubblegum.ttf);
}

body {
  margin: 0;
  padding: 30px;
  text-align: left;
}

h1 {
  font-family: Bubblegum;
  font-size: 40px;
}

h2 {
  font-family: Bubblegum;
  font-size: 20px;
}

h3 {
  font-family: Bubblegum;
  font-size: 20px;
}

p {
  font-family: Rounded;
  font-size: 20px;
}

.homenav a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.homenav a:hover {
  background-color: gray;
}

