html {
  background-color: #f5b5e0;
}

@font-face {
  font-family: Rounded;
  src: url(Rounded\ Elegance\ Regular.otf);
}

@font-face {
  font-family: Bubblegum;
  src: url(Bubblegum.ttf);
}

body {
  margin: 0;
  padding: 30px;
  text-align: left;
}

h1 {
  font-family: Bubblegum;
  font-size: 40px;
}

h2 {
  font-family: Bubblegum;
  font-size: 20px;
}

h3 {
  font-family: Bubblegum;
  font-size: 20px;
  padding-bottom: 0.5em;
}

p {
  font-family: Rounded;
  font-size: 20px;
}

.homenav a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.homenav a:hover {
  background-color: gray;
}

.active {
  font-family: Rounded;
  border-radius: 20px;
}

.imgBadBunny img {
  border-radius: 10px;
}

.imgBadBunny img:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 20px purple;
  rotate: 5deg;
}

@keyframes draaien {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

.vinyl img {
  animation: draaien 3s linear infinite;
}

.vinyl img:hover {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 10px purple);
  animation: draaien 1s linear infinite;
}

.afbeeldingen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

  .konijnopeenfiets {
    width: 200px;
    animation: fietsen 5s infinite alternate;
}

@keyframes fietsen {
  0% {
    margin-left: 0;
    transform: scaleX(1);
  }

  49% {
    margin-left: 75%;
    transform: scaleX(1);
  }

  50% {
    margin-left: 75%;
    transform: scaleX(-1);
  }

  99% {
    margin-left: 0;
    transform: scaleX(-1);
  }

  100% {
    margin-left: 0;
    transform: scaleX(1);
  }
}


