html {
 background-color: #f5b5e0;
}

@font-face {
  font-family: LEMONMILK-Regular;
  src: url("LEMONMILK-Regular.otf");
}

body {
font-family: LEMONMILK-Regular;
}

.homenav a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.homenav a:hover {
  background-color: gray;
}