/* HIER KOMT JOUW CSS */
html {
  color-scheme: light da-;
}

@font-face {
  font-family: Bubblegum;
  src: url("Bubblegum.ttf");
}

@font-face {
  font-family: LEMONMILK;
  src: url("LEMONMILK-Regular.otf");
}

body {
  background-color: #f5b5e0;
  color: black;
  color-scheme: light dark;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.topnav {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

@media (max-width: 1080px) {
  .topnav {
    grid-template-columns: repeat(2, 150px);
  }
}

h1 {
  margin-top: 100px;
  font-family: Bubblegum;
  font-size: 50px;
  text-align: center;
  background: linear-gradient(black, black);
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 5px #ff78d2;
}

h2 {
  font-family: LEMONMILK;
  font-size: 30px;
}

h3 {
  font-family: LEMONMILK;
  font-size: 20px;
}

p {
  font-family: LEMONMILK;
  font-size: 20px;
  padding: 20px;
  border: 5px solid purple;
  border-radius: 20px;
  background-color: purple;
}

  .konijn1 {
    width: 200px;
  animation: bewegen 6.5s infinite alternate;
}

@keyframes bewegen {
 from {
    margin-left: 0;
    transform: scaleX(1);
  }

  to {
    margin-left: 95%;
    transform: scaleX(-1);
  }
}



  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    padding: 20px;
    border: 5px solid purple;
    border-width: 15px;
    border-radius: 20px;
    animation: rainbow 10s infinite;
  }

  @keyframes rainbow {
    0% { border-color: white;
    }
    25% { border-color: purple;
    }
    50% {border-color: white;
    }
    75% {border-color: purple;
    }
    100% {border-color: white;
    }
  }

  .content img {
  width: 250px;
  height: 250px;
}

.topnav a {
  border-radius: 40px;
  background-image:
  	radial-gradient(
			pink,
      plum
		);
  font-family: LEMONMILK;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: grey;
  color: paleturquoise;
}

.topnav a.active {
  background-color: plum;
  color: white;
}

img {
  height: 50px;
  width: 50px;
}

