/* HIER KOMT JOUW CSS */
html {
  --background: #f5b5e0;
}

@font-face {
  font-family: Bubblegum;
  src: url("Bubblegum.ttf");
}

@font-face {
  font-family: LEMONMILK-Regular;
  src: url("LEMONMILK-Regular.otf");
}

body {
  background-color: var(--background);
  color: black;
  color-scheme: light dark;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.topnav {
  display: flex;
  gap: 20px;
  padding: 20px;
}

h1 {
  margin-top: 150px;
  font-family: Bubblegum;
  font-size: 50px;
  background: linear-gradient(black, black);
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 5px #ff78d2;
}

h2 {
  font-family: LEMONMILK-Regular;
  font-size: 30px;
}



p {
  font-family: LEMONMILK-Regular;
  font-size: 15px;
}

.topnav a {
  float: left;
  border-radius: 40px;
  background-image:
  	radial-gradient(
			pink,
      plum
		);
  font-family: LEMONMILK-Regular;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: grey;
  color: paleturquoise;
}

.topnav a.active {
  background-color: plum;
  color: white;
}

img {
  height: 50px;
  width: 50px;
}

